:root {
    --content-width: 960px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 8vh;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: max(1em, calc((100vw - var(--content-width))/2));
    padding-right: max(1em, calc((100vw - var(--content-width))/2));
    box-shadow: 0 4px 4px -4px black;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

section {
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: calc(1rem + 2*1rem + 2*0.5rem + 1.5rem); /* Own (the rest are for the footer),
    padding footer, padding button, text button; Because it covered some content.*/
    padding-left: max(1em, calc((100vw - var(--content-width))/2));
    padding-right: max(1em, calc((100vw - var(--content-width))/2));
}

#card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    /* justify-items: center; */
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*
    box-sizing: border-box;
    width: min(260px, 100%);*/

    background-color: antiquewhite;
    padding: 1rem;

    box-shadow: 1px 1px 3px brown;
}

.card .is-read {
    grid-column: 1 / -1;
    justify-self: center;
}

.card .field-name {
    justify-self: end;
    padding-right: 1rem;
    color: gray;
}

.card .field-value {
    font-weight: bold;
}

.card .field-value.title::before,
.card .field-value.title::after {
    content: "\"";
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px -4px black;
}

footer button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.5rem;
    border: 0;
    color: black;
}

footer button:hover {
    color: white;
    background-color: brown;
}

footer button:focus {
    outline: solid;
    outline-color: brown;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: max(40%, 300px);
    height: max(70%, 360px);
    overflow: auto;
    text-align: center;
    transform: translate(-50%, -50%) scale(1);
}

.modal.on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    box-shadow: 1px 1px 3px brown;
}

.form,
.form-field:not(.checkbox) {
    display: flex;
    flex-direction: column;
}

.form {
    justify-content: space-around;
}

.form-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
}

.form-field {
    margin-bottom: 1em;
}

.form-field label {
    color: gray;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-field input[type="text"],
.form-field input[type="number"] {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #eeeeee;
    outline: none;
    border: 2px solid gray;
}

.form-field input[type="text"]:focus,
.form-field input[type="number"]:focus {
    outline: none;
    border: 3px solid brown;
}

#veil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
}

#veil.on {
    display: block;
}