body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 8vh;
    padding: 0 1rem;
    box-shadow: 0 4px 4px -4px black;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

section {
    box-sizing: border-box;
    --content-width: 960px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: max(1em, calc((100vw - var(--content-width))/2));
    padding-right: max(1em, calc((100vw - var(--content-width))/2));
}

#card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;

    flex: 1;

    background-color: antiquewhite;
    padding: 1rem;

    box-shadow: 1px 1px 3px brown;
}

.card .is-read {
    grid-column: 1 / -1;
}

.card .field-name {
    justify-self: end;
    padding-right: 1rem;
    color: gray;
}

.card .field-value {
    font-weight: bold;
}

.card .is-read {
    margin-top: 2rem;
    justify-self: center;
}